body{
    background: #363B81;
}

h2{
    color: #D4B01B;
}

h4{
    color: #363B81;
    font-size: 1.25rem;
}

#general-box{
    height: 70px;
}

#number-box{
    background-color: #5DB9FF;
    border: 3px solid #fff;
    border-radius: 10px;
    max-width: 400px;
    color: #fff;
    font-size: 2rem;    
}

#information-box{
    background-color: #5DB9FF;
    color: white;
    width: 70%;
}

/*Diseño de ventanas de busqueda de cuentas o tarjetas*/
#search-box{
    margin-top: 7%;
    margin-bottom: 20%;
}

/*Diseño de boton de retirar tarjeta, cerra programa*/
#close-bottom{
    background-color: #363B81;
    font-size: 125%;
    text-decoration: underline;
}

/*Diseño de pagina de cierre*/
#confirmation-text{
    color: #D4B01B;
    margin: 15%;
    font-size: 1.5rem;
    font-weight: 600;
}

/*Diseño de botones de desplazamiento*/
#return-btn{
    background-color: #D4B01B;
    color: #fff;
    font-size: 1.5rem;    
    width: 25%;
    min-width: 210px;    
}

#continue-btn{
    background-color: #5DB9FF;
    color: #fff;
    font-size: 1.5rem;
    width: 25%;
    min-width: 210px;
}

/*Diseño de imagenes de ejempo*/
#img-presentation{
    width: 35%;
    border-radius: 10px;
    border: 3px solid #fff;
}

/* ------------------DISEÑO POR VENTANA----------------------*/

/*Diseño de ventana log-in*/
#keyboard{
    background-color: #363B81;
    border: 2px solid #fff;
    color: #fff;    
}

#action-btn{
    background-color: #D4B01B;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 100px;
    flex: 1 1 28%;
    width: 150px;
}

/*Diseño de ventana menu*/
#operation-btn{
    background-color: #5DB9FF;
    text-transform: uppercase;
    color: #363B81;
    font-size: 1.75rem;
    font-weight: 800;
    -webkit-text-stroke: 1px #fff;
    min-width: 200px;
    width: 40%;
}