body{
    background: #363B81;
}

h2{
    color: #D4B01B;
}

#general-box{
    height: 70px;
}

#pin-box{
    background-color: #5DB9FF;
    border: 3px solid #fff;
    border-radius: 10px;
    max-width: 400px;
    color: #fff;
    font-size: 2rem;    
}

#keyboard{
    background-color: #363B81;
    border: 2px solid #fff;
    color: #fff;    
}

#close-bottom{
    background-color: #363B81;
    font-size: 125%;
    text-decoration: underline;
}
